# AWS Configuration
# --------------------------------------------------------------
# AWS_ACCESS_KEY_ID=your_access_key
# AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1

# Bedrock Model ID 
# --------------------------------------------------------------
# BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0

# Logfire Configuration
# --------------------------------------------------------------
# PYDANTIC_LOGFIRE_TOKEN=your_logfire_api_key