# AWS Configuration
# --------------------------------------------------------------
# Set either the profile
AWS_REGION=us-east-1
AWS_PROFILE=your-aws-profile

# Or set the access keys (only if not using profile)
# AWS_ACCESS_KEY_ID=your-access-key
# AWS_SECRET_ACCESS_KEY=your-secret-key
# AWS_SESSION_TOKEN=your-session-token

# Amazon Bedrock Configuration
# --------------------------------------------------------------
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0

# Pydantic AI Configuration
# --------------------------------------------------------------
# PYDANTIC_LOGFIRE_TOKEN=pydantic-token
